# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Gradle
build
.gradle

.DS_Store

# idea
out
*.ipr
*.iws
*.iml
.idea

# Minecraft
run

# IntelliJ
out
.idea/
*.iml
*.ipr
*.iws

# Keystore
keystore/*

# Decomp
decomp/*

libs/*.jar
*~
